/*RESOLUCION PARA MOVIL*/
@media (max-width: 992px) {
  .caja__datos {
    padding-top: 0px;
    text-align: center;
  }
  .caja__datos p {
    color: rgb(150, 178, 198);
  }
  .texto__equipos {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #17647b;
    font-size: 1rem;
    margin-top: 40px;
    position: relative;
  }
  .texto__deslizante {
    margin: 0;
    padding: 0;
    font-size: 0.5rem;
  }
  .noticias {
    border-radius: 0;
    width: 100%;
  }
  /*CARRRUSEL*/
  .item img {
    height: 500px;
  }
  .nosotros p {
    padding: 0%;
    text-align: justify;
  }
  #mapa {
    margin-left: -90px;
    margin-top: 40px;
  }
  #mapa img {
    top: auto;
    width: auto;
    left: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

.btn-wsp {
  position: fixed;
  width: 45px;
  height: 45px;
  line-height: 55px;
  bottom: 20px;
  right: 20px;
  background: none;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.iconoWp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-left: 8px;
}

.titulos {
  display: flex;
  color: #555;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
}

/*BARRA DE NAVEGACION*/
.navbar {
  background-image: linear-gradient(90deg, #043140, #195D6E);
}
.navbar .navitem {
  color: white;
}
.navbar .nav-link {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 300ms ease;
}
.navbar .nav-link:hover {
  color: #3f7e8d;
  border-bottom: 1px solid white;
  transform: scale(1.1);
}
.navbar .nav-link img {
  width: 30px;
}
.navbar .navbar-toggler {
  background-color: white;
  border: #195D6E;
}
.navbar .dropdown-menu {
  font-size: large;
  transition: all 300ms ease;
}
.navbar .dropdown-item {
  color: #555;
}
.navbar .dropdown-item:hover {
  background-color: #3f7e8d;
  color: white;
}

/*IMAGEN DEL BANNER*/
.banner__image {
  position: relative;
}
.banner__image img {
  background-position: center center;
  background-size: cover;
  height: 450px;
}
.banner__image .texto__banner {
  font-size: 2.5rem;
  color: white;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px #000 0, 0, 0, 0.8;
  transition: all 300ms ease;
}

/*BANNER MAPA*/
.banner__image__mapa img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  height: 400px;
}

#mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -350px;
  width: 650px;
  padding: 20px;
  position: relative;
  left: 20%;
  filter: drop-shadow(-40px 0px 30px rgba(0, 0, 0, 0.5));
}

/*BOTONES DEL MENU DE PRODUCTOS*/
.boton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: white;
  color: #043140;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  position: relative;
  overflow: hidden;
}
.boton span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.boton .uno:hover {
  background: #336571;
  color: white;
}
.boton .uno:hover::after {
  transform: scale(225);
  background: #3f7e8d;
}
.boton .uno::after {
  content: "";
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: 0.3s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}
.boton .dos:hover {
  background: #20744C;
  color: white;
}
.boton .dos:hover::after {
  transform: scale(225);
  background: #20744C;
}
.boton .dos::after {
  content: "";
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: 0.3s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}
.boton .tres:hover {
  background: #17647b;
  color: white;
}
.boton .tres:hover::after {
  transform: scale(225);
  background: #1D7E9C;
}
.boton .tres::after {
  content: "";
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: 0.3s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}
.boton .cuatro:hover {
  background: #5f1771;
  color: white;
}
.boton .cuatro:hover::after {
  transform: scale(225);
  background: #8A23A4;
}
.boton .cuatro::after {
  content: "";
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: 0.3s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}
.boton .cinco:hover {
  background: #8c822e;
  color: white;
}
.boton .cinco:hover::after {
  transform: scale(225);
  background: #c7b82c;
}
.boton .cinco::after {
  content: "";
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: 0.3s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}

.red__mundo {
  background: rgb(238, 243, 243);
}

.red__global {
  justify-content: center;
  align-items: center;
  display: row;
  margin: 2%;
}

.contenedor__contador {
  display: flex;
  height: 75px;
  width: 150px;
  position: relative;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}

.color__fondo {
  height: 0%;
  width: 100%;
  background-color: blue;
  position: absolute;
}

.numero__paises {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  color: #555;
  position: absolute;
  mix-blend-mode: screen;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-180deg);
}

.contenedor__contador__dos {
  display: flex;
  height: 75px;
  width: 150px;
  position: relative;
  transform: rotate(180deg);
  justify-content: center;
  align-items: center;
}

.color__fondo__equipos {
  height: 0%;
  width: 100%;
  background-color: blue;
  position: absolute;
}

.numero__equipos {
  padding: 0;
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  color: #555;
  position: absolute;
  mix-blend-mode: screen;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-180deg);
}

.texto_globales {
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  color: #195D6E;
  font-size: 1.3rem;
  bottom: 50%;
  text-align: center;
  font-weight: bold;
}

.nosotros p {
  padding: 5%;
  text-align: justify;
  font-size: 20px;
  background: rgb(238, 243, 243);
  color: #195D6E;
}

/*BANNER TEXTO CON DESPLAZAMIENTO*/
.texto__deslizante {
  display: flex;
  width: 100%;
  height: 45px;
  font-size: 2rem;
  line-height: 40px;
  margin: 20px;
  justify-content: center;
  overflow: hidden;
}

.palabras {
  list-style: none;
  padding-left: 10px;
  animation: cambiar 6s infinite;
  color: #195D6E;
  margin: 30px;
  text-shadow: 2px 1px 0 gray;
}

.frase {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
}

/*TRANSISIONES DE PALABRAS*/
@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}
/*TARJETAS*/
.container__card {
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
  perspective: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card__father {
  margin: 20px;
  perspective: 1000px;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, transparent, rgba(0, 0, 0, 0.3));
}
.card__father:hover .card {
  transform: rotateY(180deg);
}

.card {
  width: 250px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
  border: none;
  background: none;
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.card__back {
  transform: rotateY(180deg);
  background: #d6ebf1;
}

.card__front {
  background-size: cover;
  background-position: center;
  font-size: 10px;
}

.body__card__front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(60px);
  color: rgb(220, 233, 240);
}
.body__card__front h1 {
  font-size: 20px;
  font-weight: bold;
  text-shadow: gray;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(1, 48, 54, 0.7);
  border-radius: 20px;
}

.body__card__back {
  padding: 40px;
  text-align: center;
  transform: translateZ(60px);
}
.body__card__back p {
  margin-top: 10px;
  font-size: 10px;
}
.body__card__back h1 {
  font-size: 15px;
  font-weight: bold;
  color: #17647b;
}
.body__card__back input {
  padding: 10px 40px;
  margin-top: 10px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  color: white;
  background: #195D6E;
  box-shadow: 1px 1px 30px -5px #17647b;
  border-radius: 10px;
  transition: box-shadow 600ms;
}
.body__card__back input:hover {
  box-shadow: 1px 1px 30px 0px #2d92b1;
}

/*NOTICIAS*/
.post__list {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
}

.content {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.post-img-1 {
  background: url(../img/taller3.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  transition: 0.2s;
}

.post-img-2 {
  background: url(../img/kanikat.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-3 {
  background: url(../img/tallerRS.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-header {
  width: 100%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.post {
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.2s;
  border-radius: 15px;
}
.post:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.15);
}
.post:hover .post-img-1 {
  transform: scale(1.1);
}
.post:hover .post-img-2 {
  transform: scale(1.1);
}
.post:hover .post-img-3 {
  transform: scale(1.1);
}

.post__body {
  padding: 15px;
  text-align: center;
}
.post__body span {
  color: #999;
  margin-bottom: 10px;
  text-align: justify;
}
.post__body h2 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #2c849f;
}
.post__body .post-link {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: #17647b;
  color: white;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.1);
}
.post__body .post-link:hover {
  background: #2c849f;
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.footer_info {
  background-image: linear-gradient(90deg, #043140, #195D6E);
  width: 100%;
  height: 100%;
  color: white;
  margin: 0px;
  padding: 0px;
}

.caja__datos {
  color: rgb(164, 206, 235);
}

.frase {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 25px;
}

#product1 {
  margin-top: 0px;
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  height: 450px;
  padding: 10px 5px;
  position: relative;
  border-radius: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  margin: 15px 5px;
  transition: 0.2s ease;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
}
#product1 .pro img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: justify;
  padding: 10px 5px;
}
#product1 .pro .des span {
  color: teal;
  font-size: 20px;
  font-weight: bold;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: rgb(56, 52, 53);
  font-size: 13px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: rgb(251, 181, 42);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 10px;
  font-weight: 400;
  color: rgb(118, 110, 110);
  padding: 2px;
}
#product1 .pro .des a {
  color: teal;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 10px;
}

.banner__image .banner__producto {
  height: 200px;
}

#prodetails {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
#prodetails .single-pro-image img {
  box-shadow: 1px 1px 30px -5px #7c8081;
  border-radius: 10px;
}
#prodetails .single-pro-details {
  width: 50%;
  padding: 0px;
}
#prodetails .single-pro-details h4 {
  padding: 20px 0 10px 0;
  color: #195D6E;
}
#prodetails .single-pro-details h2 {
  font-size: 25px;
}
#prodetails .single-pro-details h3 {
  font-size: 20px;
}
#prodetails .single-pro-details .boton__general {
  padding: 10px 40px;
  margin-top: 5px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  color: white;
  background: #195D6E;
  box-shadow: 1px 1px 30px -5px #17647b;
  border-radius: 10px;
  transition: box-shadow 600ms;
}
#prodetails .single-pro-details .boton__general:hover {
  box-shadow: 1px 1px 30px 0px #2d92b1;
}
#prodetails .single-pro-details span {
  padding: 10px 20px 10px 0;
  display: flex;
  text-align: justify;
  color: #5b5e5e;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.small-img-group .small-img-col {
  flex-basis: 24%;
  cursor: pointer;
  box-shadow: 1px 1px 30px -5px #7c8081;
}

.form-register {
  width: 80vw;
  background-image: linear-gradient(90deg, #043140, #195D6E);
  padding: 30px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 20px;
  color: white;
  box-shadow: 1px 1px 30px -5px #17647b;
}
.form-register .form-control {
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #195D6E;
}

.btn-primary {
  width: 100%;
  border: none;
  padding: 12px;
  color: #195D6E;
  background: white;
  margin: 16px 0;
  font-size: 16px;
}

.boton__general {
  display: flex;
  justify-content: center;
  padding: 10px 40px;
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  color: white;
  background: #195D6E;
  box-shadow: 1px 1px 30px -5px #17647b;
  border-radius: 10px;
  transition: box-shadow 600ms;
}
.boton__general:hover {
  box-shadow: 1px 1px 30px 0px #2d92b1;
}

.boton__cotiza {
  display: flex;
  justify-content: center;
}

.servicios {
  color: gray;
  margin: auto;
  padding: 30px;
}

.p {
  color: gray;
}

.serv__equipos {
  text-decoration: none;
  color: gray;
  margin-top: 10px;
  padding: 30px;
  margin-bottom: 10px;
}
.serv__equipos h5 {
  color: #17647b;
}
.serv__equipos li {
  text-decoration: none;
  list-style: none;
}

.icono_h {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto_serv {
  color: gray;
}

.imagen__cuerpo img {
  border-radius: 30px;
}

.texto__cuerpo h3 {
  color: #17647b;
}
.texto__cuerpo p {
  margin: 20px;
  text-align: justify;
  color: gray;
}

/*# sourceMappingURL=estilos.css.map */
