//VARIABLES
$color-degrado-principal:linear-gradient(90deg, #043140, #195D6E );
.titulos{
    display: flex;
    color: #555;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
}
/*BARRA DE NAVEGACION*/ 
.navbar{
    background-image:$color-degrado-principal;
    .navitem{
        color: white;
    }
    .nav-link{
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        transition: all 300ms ease;
        &:hover{
            color: #3f7e8d;
            border-bottom: 1px solid white;
            transform: scale(1.1);
            } 
        img{
                width: 30px;
            }          
        }
    .navbar-toggler{
        background-color: white;
        border: #195D6E;
    }
    .dropdown-menu{
        font-size: large;
        transition: all 300ms ease;
    }
    .dropdown-item{
            color: #555;
            &:hover{
                background-color: #3f7e8d;
                color: white;
            }
    }
}
/*IMAGEN DEL BANNER*/
.banner__image{
    position: relative;
    img{ 
        background-position: center center;
        background-size: cover;
        height: 450px;
    }
    .texto__banner{
        font-size: 2.5rem;
        color: white;
        text-align: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 8px #000(0, 0, 0, 0.8);
        transition: all 300ms ease;
    }
}