//FOOTER INFO
.footer_info{
    display: flex;
    background-image:linear-gradient(90deg, #043140, #195D6E ) ;
    width: 100%;
    height: 250px;
    color: white;
}
.iconos{
    margin-top: 2%;
    margin-left: 10%;
    img{
        width: 10%;
    }
}
.iconos_uno{
    justify-items: center;
    margin-top: 2%;
    margin-left: 5%;
    img{
        width: 10%;
    }
}
.footer__logo{
    margin-top: 5%;
}
