//FOOTER INFO
.footer_info{
    background-image:linear-gradient(90deg, #043140, #195D6E ) ;
    width: 100%;
    height: 100%;
    color: white;
    margin: 0px;
    padding: 0px;
}
.caja__datos{
    color: rgb(164, 206, 235);
}
.frase{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 25px;
}