/*RESOLUCION PARA MOVIL*/
@media(max-width: 992px){
    .caja__datos{
        padding-top: 0px;
        text-align: center;
        p{
            color: #10a1ae;
        }
    }
    .texto__equipos{
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #17647b;
        font-size: 1rem;
        margin-top: 40px;
        position: relative;
    }
    .texto__deslizante{
        margin: 0;
        padding: 0;
        font-size: 0.5rem;
    }
    .noticias{
        border-radius: 0;
        width: 100%;
    }
    /*CARRRUSEL*/
    .item img{
        height: 500px;
    }
    #mapa 
    { margin-left: -90px;
    margin-top: 40px;
    img{
        top: auto;
        width: auto;
        left: 10px;
        }
    }
    .nosotros{
        margin-bottom: 140px;
        p{
        font-size: 2px;
        }
    }

}