/*NOTICIAS*/
.post__list{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}
.content{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}
.post-img-1{
    background: url(../img/taller2.jpeg);
    width: 100%;
    height: 200px;
    background-size: cover;
    transition: .2s;
}
.post-img-2{
    background: url(../img/kanikat.jpeg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.post-img-3{
    background: url(./img/tallerRS.jpeg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.post-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}
.post{
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .2s;
    border-radius: 15px;
    &:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .15);
    .post-img-1{
        transform: scale(1.1);
    }
    .post-img-2{
        transform: scale(1.1);
    }
    .post-img-3{
        transform: scale(1.1);
    }
    }
}
.post__body{
    padding: 15px;
    text-align: center;
    span{
        display: inline-block;
        color: #999;
        margin-bottom: 10px;
    }
    h2{
        margin-bottom: 15px;
    }
    .post-link{
        display: block;
        text-decoration: none;
        padding: 10px;
        background: #17647b;
        color: white;
        width: 50%;
        margin: auto;
        border-radius: 20px;
        box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
        &:hover{
            background: #2c849f;
            box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
            transform: translateY(-2px);
        }
    }
}
